{% extends "Core/layouts/main.html" %}
{% block title %}SIGNUP PAGE {% endblock title %}
{% block content %}

<!-- -----------form ---------------- -->
<div class="container" style="margin-top: 5%;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header ">
                    <h1 class="mt-3 text-center">Sign Up</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <!-- {{ form.as_p }} -->
                        <div class="mb-3">
                            {{ form.username.label_tags }}
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            {{ form.fname.label_tags }}
                            {{ form.fname }}
                        </div>
                        <div class="mb-3">
                            {{ form.lname.label_tags }}
                            {{ form.lname }}
                        </div>
                        <div class="mb-3">
                            {{ form.email.label_tags }}
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            {{ form.pass1.label_tags }}
                            {{ form.pass1 }}
                        </div>
                        <div class="mb-3">
                            {{ form.pass2.label_tags }}
                            {{ form.pass2 }}
                        </div>

                        <button type="submit"
                            class="btn btn-primary w-100  mt-2 mb-2">Sign
                            Up</button>
                        <p>You are already User ? <a
                                href="{% url 'signin' %}"
                                class="text-decoration-none">LogIn</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ------------form---------------- -->

{% endblock content %}
